---

---

<div
    class="group/card bg-slate-50 dark:bg-slate-900 rounded-[3rem] p-6 sm:p-8 w-full flex flex-col gap-6 transition-all duration-300 h-fit grayscale hover:grayscale-0 hover:scale-[1.02]"
>
    <h2
        class="text-2xl font-bold text-slate-800 dark:text-slate-100 text-center sm:text-left relative w-fit mx-auto sm:mx-0 after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-600 after:w-full after:scale-x-0 group-hover/card:after:scale-x-100 after:transition after:duration-300 after:origin-center"
        data-i18n="projects.title"
    >
        Proyectos
    </h2>

    <div class="flex flex-col items-center justify-center gap-4 w-full">
        <script
            src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"
            type="module"
        ></script>

        <dotlottie-wc
            src="https://lottie.host/821a1e07-0112-4638-bdd9-1becaa64496b/eYbJDss0id.lottie"
            style="width: 300px;height: 300px"
            autoplay
            loop
></dotlottie-wc>

        <p
            class="text-slate-600 dark:text-slate-400 font-mono text-lg text-center"
            data-i18n="projects.wip"
        >
            Estamos trabajando en ello
        </p>
    </div>
</div>
